/**
 * Section background image.
 */
#directions:after {
      background-image: url('../images/grass.jpg');
}

#map-and-directions h2 {
  padding: 0;
  margin: 0;
}
#venue-map {
  height: 60%;
  width: 90%;
  background-color: #fff;
  border: 3px double #1947A3;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-bottom: 0;
  
  /* Mobile overrides */
  @media only screen and (max-width: 767px) {
    width: 100%;
  }
}
.map-bar {
  background-color: #1947A3;
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
  
  /* Mobile overrides */
  @media only screen and (max-width: 767px) {
    margin: 0 -1em;
    width: -moz-calc(100% + 2em);
    width: -webkit-calc(100% + 2em);
    width: calc(100% + 2em);
  }
}
#venue-directions ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
}
#venue-directions li {
  display: inline;
  padding: 0 1em;
  margin-left: auto;
  margin-right: auto;
}
