/**
 * Make a pretty inset to the image.
 **/
#hotel-image::before {

}
/**
 * Do not allow image to be too big.
 */
#hotel-image img {
  width: 100%;
}

/**
 * Align top text with image.
 */
#hotel-block {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
#hotel-block-info, #hotel-image {
  float: left;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  display: inline-block;
}
#hotel-block-info {
  width: -moz-calc(100% - 200px);
  width: -webkit-calc(100% - 200px);
  width: calc(100% - 200px);
  margin-top: auto;
  margin-bottom: auto;
}
#hotel-image {
  width: 200px;
}

/**
 * Style the hotel name.
 */
#hotel-block .title {
  font-size: 1.5em;
}
/**
 * Style the address.
 */
#hotel-address {
  font-size: 0.75em;
  font-family: 'Coming Soon', cursive;
}

/**
 * Style the dates on this page.
 */
#hotel .date {
  color: #09f;
}

#hotel-block-info {
  //background-color: #09f;

}

/**
 * Style the must book by block.
 */
#must-book {
  background-color: #09f;
  margin: 2em -3em 2em -3em;
  width: -moz-calc(100% + 6em);
  width: -webkit-calc(100% + 6em);
  width: calc(100% + 6em);
}

/**
 * Style the days left block.
 */
#days-left-number {
  padding-top: 0.25em;
  font-size: 5em;
  line-height: 0.5em;
}

/**
 * Style the table.
 */
#hotel table {
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-family: 'Coming Soon', cursive;
  font-size: 1em;
  border-spacing: 0.25em;
  border-collapse:collapse;
  background-color: rgba(255, 255, 255, 0.25);
}
#hotel table td {
  padding: 1em;
}
#hotel table thead {
  border-bottom: 1px solid #fff;
}