/**
 * Vars for RSVP.
 */
$degreesText: -15deg;
$degreesArrow: -30deg;
$degreesInput: 3deg;

/**
 * Section background image.
 */
#rsvp:after {
  background-image: url('../images/wood2.jpg');
}

/**
 * Specific content decoration.
 */
#rsvp-text-and-arrow {
  float: left;
  width: 200px;
}

/**
 * Controls the RSVP text.
 */
#rsvp h2 {
  text-align: left;
  color: #A6D5FA;
  font-family: 'Alex Brush', cursive;
  letter-spacing: -0.1em;
  -ms-transform: rotate($degreesText); /* IE 9 */
  -webkit-transform: rotate($degreesText); /* Chrome, Safari, Opera */
  transform: rotate($degreesText);
  width: 200px;
  height: 50px;
}
#rsvp h2 #letter-S, #rsvp h2 #letter-P {
  position: relative;
  top: 0.3em;
  left: -0.2em;
  color: #7AC0F8;
}

/**
 * Controls the RSVP image (this is the arrow).
 */
#rsvp img {
  float: left;
  padding-left: 100px;
  width: 64px;
  height: 64px;
  -ms-transform: rotate($degreesArrow); /* IE 9 */
  -webkit-transform: rotate($degreesArrow); /* Chrome, Safari, Opera */
  transform: rotate($degreesArrow);
}

/**
 * Controls the timestamp look & feel.
 */
.rsvp-timestamp {
  display: none;
  color: #fff;
  padding-left: 0.5em;
  font-family: 'Dosis', sans-serif;
  font-size: 0.75em;
}
.rsvp-date, .rsvp-time {
  color: #A6D5FA;
  font-size: 0.75em;
}

/**
 * Controls the formatting of the registered and not RSVPed guest names.
 */
#rsvp a.rsvped-guest {
  color: #7AC0F8;
  text-decoration: none;
  text-shadow: none;
  font-weight: bold;
}

/**
 * Controls the RSVP text boxes.
 */
#rsvp .rsvp-input {
  width: -moz-calc(100% - 200px);
  width: -webkit-calc(100% - 200px);
  width: calc(100% - 200px);
  height: 50px;
  float: left;
  margin-left: 205px;
  margin-top: -100px;
  //-ms-transform: rotate($degreesInput); /* IE 9 */
  //-webkit-transform: rotate($degreesInput); /* Chrome, Safari, Opera */
  //transform: rotate($degreesInput);
  font-size: 1.5em;
  font-family: 'Indie Flower', cursive;
}

/**
 * Controls the autocomplete styling.
 */
ul.ui-autocomplete {
  //-ms-transform: rotate($degreesInput); /* IE 9 */
  //-webkit-transform: rotate($degreesInput); /* Chrome, Safari, Opera */
  //transform: rotate($degreesInput);
}
ul.ui-autocomplete li {
  color: #1947A3;
  font-family: 'Indie Flower', cursive;
}
ul.ui-autocomplete li.ui-state-focus {
  font-weight: bold;
}

/**
 * Controls the RSVP buttons in the pop up.
 */
.rsvp-button {
  color: #fff;
  display: inline-block;
  background-color: rgba(25, 25, 112, 0.7);
  border: 2px solid #fff;
  border-radius: 10px;
  width: 4em;
  margin: 1em 0.75em 0em 0.75em;
}

/**
 * Controls the look of the RSVP blocks.
 */
.rsvp-block {
  display: inline-block;
  border: 0.33em solid #ffff99;
  background-color: rgba(255, 255, 133, 0.4);
  color: #001F5C;
  width: 7em;
  margin-left: auto;
  margin-right: auto;
}
#rsvp .big-number-text {
  font-size: 0.75em;
}

/**
 * Controls the look of the help box.
 */
#rsvp-help {
  border: 0.5em #1947A3 solid;
  background-color: #fff;
  color: #1947A3;
  position: absolute;
  top: 50%;
  left: 10%;
  right: 10%;
  box-shadow: 0.5em 0.5em 0.5em #333;
}