/**
 * Let the form be a little bigger than everything else.
 */
#shuttle-form {
  width: 110%;
  margin-left: -5%;
}

/**
 * The input size needs to be the same as the dropdown so it has to be 200px.
 */
input#shuttle-name {
  width: 200px;
  font-size: 0.75em;
  font-family: 'Indie Flower', cursive;
}

/**
 * Shrink the font a little here.
 */
.shuttle-guest-input, .shuttle-guest-text {
  font-size: 0.75em;
}

/**
 * Style filled text for the form.
 */
.shuttle-name, .shuttle-option {
  font-size: 1em;
  text-decoration: underline;
}