/**
 * Section background image.
 */
#about-the-venue:after {
      background-image: url('../images/venue.jpeg');
}

/**
 * Background.
 */
#venue-info {
  background-color: rgba(25, 25, 112, 0.75);
}

/**
 * Image.
 */
#venue-info img {
  margin: 0;
  border-radius: 15px;
  border: 2px solid white;
  width: 5em;
  height: 5em;
}

/**
 * Image styles.
 */
ul#venue-gallery ul {
  display: inline-block;
}
ul#venue-gallery li {
  display: inline-block;
  margin: 0;
}
