/**
 * Controls the sizing of the section set.
 */
#section-slides {
  width: 100%;
}

/**
 * Controls some of the padding and the slide lightness.
 */
.slide {
  background-color: rgba(255, 255, 230, 0.1);
  margin: 0 3em;
  padding: 2em 3em;
  position: relative;
}

/**
 * Overide the slick height setting so they can be different lengths.
 */
.slick-slide {
  height: inherit;
}

/**
 * Control the text in the slides.
 */
.slide {
  color: #fff;
  font-family: 'Indie Flower', cursive;
  font-size: 1.25em;
  text-align: center;
}

/**
 * Controls the links.
 */
.slide a {
  color: #ffff99;
  text-decoration: none;
  font-weight: bold;
}
.slide a:hover {
  color: #EEE8CD;
}

/**
 * Import specific section styles.
 */
@import '_wedding.scss';
@import '_venue.scss';
@import '_directions.scss';
@import '_rsvp.scss';
@import '_hotel.scss';
@import '_registry.scss';
