/**
 * Controls the sizing of the section set.
 */
#section-slides {
  width: 100%;
}

/**
 * Controls some of the padding and the slide lightness.
 */
.slide {
  background-color: rgba(255, 255, 230, 0.1);
  margin: 0 3em;
  padding: 2%;
  position: relative;
}

/**
 * Controls the links.
 */
.section-content a {
  color: yellow;
  text-decoration: none;
  text-shadow: 2px 2px 2px #ccc;
  font-weight: bold;
}
.section-content a:hover {
  color: #EEE8CD;
}

/**
 * Import specific section styles.
 */
@import '_wedding.scss';
@import '_venue.scss';
@import '_directions.scss';
@import '_rsvp.scss';
